#mapa {
  margin-bottom:36px;
}

#endereco-horario {
  background-color:rgba(214,201,201,0.91);
  font-family:'Averia Sans Libre', cursive;
  font-size:23px;
  padding:20px;
}

.cabecalhos {
  margin-top:20px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
  padding-top:0px;
  margin-bottom:22px;
  color:white;
  text-shadow:-2px 0 #432908, 0 2px #432908, 2px 0 #432908, 0 -2px #432908;
  padding:18px;
  font-family:'Bubblegum Sans', cursive;
  font-size:63px;
}

.onde-estamos:before {
  content:"";
  background-repeat:no-repeat;
  opacity:0.7;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:fixed;
  z-index:-1;
  background-image:url("../../assets/img/japonesa.jpg");
  background-size:cover;
  background-attachment:fixed;
}

#mapa {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#endereco-horario {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

