.btn-close {
  color:rgb(56,155,254);
  font-size:34px;
  padding:5px;
}

#banner {
  background-size:cover;
  height:398px;
  background-image:url("../../assets/img/aea6de9cbaee9d2704dcf81f4a194991-754x394.jpg");
  background-repeat:no-repeat;
}

.borda-amarela{
   border-color: yellow;
}

