.nav-link {
  font-size:23px;
  font-family:'Architects Daughter', cursive;
}

@media (max-width: 576px) {
  .nav-link {
    font-size:23px;
    font-family:'Architects Daughter', cursive;
    text-align:center;
  }
}

.navbar-brand {
  font-weight:normal;
  padding-bottom:0px;
  width:291px;
  height:151px;
}

.navbar-dark .navbar-brand {
  color:#d77037;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color:#d77037;
}

.navbar-toggler-icon {
  color:#d77037;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:white;
}

.navbar.navbar-light.navbar-expand-md.background-bar {
  background-color:#680612;
  /*background:linear-gradient(0deg, rgba(207,10,20,1) 5%, rgba(228,87,46,1) 84%);*/
}

#navbar {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img-logo {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:auto;
  height:auto;
  margin-bottom:-39px;
}

@media (max-width: 576px) {
  #img-logo {
    margin-bottom:auto;
    margin-top:-7px;
  }
}

.nav.navbar-nav.align-content-center.ml-auto.align-items-sm-center {
  margin-top:5px;
  margin-right:20px;
}

@media (max-width: 761px) {
  .nav.navbar-nav.align-content-center.ml-auto.align-items-sm-center {
    margin-top:60px;
    margin-left:316px;
  }
}

