.navbar {
}

.nav-link {
  font-size:18px;
  font-family:'Architects Daughter', cursive;
}

.navbar-brand {
  font-weight:normal;
  padding-bottom:0px;
  width:226px;
  height:151px;
}

.navbar-dark .navbar-brand {
  color:#d77037;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color:#d77037;
}

.navbar-toggler-icon {
  color:#d77037;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:white;
}

nav-item > nav-link:hover {
  color:white;
}

#img-logo {
}

.navbar.navbar-light.navbar-expand-md.background-bar {
  background:rgb(207,10,20);
  background:linear-gradient(0deg, rgba(207,10,20,1) 5%, rgba(228,87,46,1) 84%);
}

