.cabecalhos {
  color:#d7d7d7;
  padding:18px;
  font-family:'Bubblegum Sans', cursive;
  font-size:56px;
}

.cardapio-body {
  background-color:#413934;
  padding-top:43px;
  height:auto;
  max-height:100%;
  display:block;
  width:auto;
  min-height:500px;
}

.opcoes-item {
  width:186px;
  height:186px;
  margin:9px 32px;
}

.texto-cardapio {
  color:#d7d7d7;
  font-size:22px;
  padding-left:61px;
}

#bebidas {
  display:none;
}

#temaki {
  display:none;
}

#opcoes-refrigerante {
  color:rgb(227,228,230);
  font-family:'Bubblegum Sans', cursive;
}

#menu {
  display:block;
}

.descricao-opcoes {
  color:rgb(245,246,247);
  font-family:'Bubblegum Sans', cursive;
  font-size:30px;
}

#niguiri {
  display:none;
}

#sashimi {
  display:none;
}

#gunkan {
  display:none;
}

#yakisoba {
  display:none;
}

#rollmaki {
  display:none;
}

#combos {
  display:block;
}

#variados {
  display:none;
}

.botaoVoltar {
  color:white;
  font-size:23px;
  width:15px;
}

.cartoes {
  width:104px;
  height:67px;
  margin-right:19px;
}

.cartoes-aceitos {
  background-color:#413934;
  padding:35px;
  padding-left:98px;
}

#subtitulo-menu {
  color:rgb(241,241,242);
  font-size:31px;
  font-family:'Architects Daughter', cursive;
}

.texto-opcoes {
  color:rgb(241,241,242);
  font-size:31px;
  font-family:'Architects Daughter', cursive;
  display:block;
}

.fade-out {
  opacity:0;
  transition:0.3s;
}

.fade-in {
  opacity:2;
  transition:0.3s;
}

#img-bebidas {
  width:287px;
  height:287px;
}

@media (max-width: 425px) {
  #img-bebidas {
    display:none;
  }
}

#img-combo {
  width:319px;
  height:225px;
}

#opcoes-combo {
  color:rgb(227,228,230);
  font-family:'Bubblegum Sans', cursive;
  padding:46px;
}

