#onde-estamos {
}

#mapa {
  margin-bottom:36px;
}

#endereco-horario {
  background-color:rgba(201,198,198,0.76);
  font-family:'Averia Sans Libre', cursive;
  font-size:23px;
}

#texto-opcoes {
  color:rgb(241,241,242);
  font-size:34px;
  font-family:'Architects Daughter', cursive;
}

