#mapa {
  margin-bottom:36px;
}

#endereco-horario {
  background-color:rgba(201,198,198,0.76);
  font-family:'Averia Sans Libre', cursive;
  font-size:23px;
  padding:20px;
}

#cabecalho-ondestamos {
  margin-top:20px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
  padding-top:0px;
  margin-bottom:22px;
  color:white;
  text-shadow:-2px 0 #432908, 0 2px #432908, 2px 0 #432908, 0 -2px #432908;
}

.onde-estamos:before {
  content:"";
  background-repeat:no-repeat;
  opacity:0.5;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:fixed;
  z-index:-1;
  background-image:url("../../assets/img/background1.jpg");
  background-size:cover;
}

