#alterar-dados {
  margin:19px;
}

.btn-editar {
  margin-top:8px;
}

.form-group {
  margin-bottom:52px;
}

.campos-form {
}

#div-alterarsenha {
  padding:54px;
}

#div-alterardados {
  border-right:2px solid #eee;
  padding:52px;
}

.cabecalho-alterar-dados {
  margin-bottom:30px;
  text-align:center;
}

